.druid-masthead {
  border-top: 1px solid #3b3b50;
  padding: 0 0 30px;
  color: #fff;
  background-color: #1C1C26;
  text-align: center;
}

.druid-masthead .btn-lg {
  min-width: 145px;
}

.druid-footer {
  padding: 40px 0;
  background-color: #eee;
  border-top: 1px solid white;
}

.druid-header {
  padding: 30px 0;
  color: #1c1c26;
  background-color: #eee;
  text-align: center;
}

.blog h2 {
  font-weight: 400;
  font-size: 24px;
}

.druid-masthead {
  margin: 0 auto 30px;
}

.druid-logo {
  display: block;
  width: 120px;
  height: 22px;
  background-position:center;
  background-image: url('/img/druid_nav.png');
  background-size: 69px 19px;
  background-repeat: no-repeat;
}

.druid-bootlogo {
  display: block;
  margin: 0 auto;
  width: 450px;
  height: 209px;
  background-size: 450px 209px;
  background-repeat: no-repeat;
  background-image: url('/img/druid.png');
  background-image: -webkit-image-set(
    url('/img/druid.png') 1x,
    url('/img/druid_2x.png') 2x
  );
}

.druid-booticon {
  display: block;
  text-align: center;
  width: 340px;
  height: 144px;
  line-height: 140px;
  font-size: 64px;
  border-radius: 20px;
  /* border: 1px solid #fff; */
}

.druid-mark {
  color: #2ceefb;
  font-size: 1.69em;
  line-height: 30%;
  font-weight: 100;
}
.druid-logotype {
  color: #fff;
  font-family: 'Open Sans';
  letter-spacing: .05em;
  font-style: italic;
  font-weight: 100;
}

.btn-outline-inverse {
  color: #fff;
  border-color: #fff;
}

.btn-outline-inverse:hover {
  background-color: #fff;
}

.druid-nav {
  margin-bottom: 0;
  background-color: #1C1C26;
  border: 0px;
}

.druid-nav .navbar-inverse{
  border-color: transparent;
}

.druid-nav .navbar-nav>.active>a {
  border-bottom: 3px solid #2ceefb;
}

/* bootstrap overrides */

.navbar {
   font-size: 14px;
   line-height: 20px;
   font-weight: 300;
}

.navbar-collapse {
   padding-left: 20px;
   padding-right: 5px;
   margin-left: 15px;
}

.navbar-brand {
  font-size: 16px;
  font-weight: 300;
}

.navbar-inverse .navbar-brand:hover {
  color: #2ceefb
}

.social-button.twitter {
  background: 10px center no-repeat url('/img/twitter.png');
  padding-left: 40px;
}

.header-li {
  margin-left: 0px;
}

.header-a {
  margin-right: 0px;
  margin-left: -12px;
}
