.navbar {
   margin: 10px auto 25px;
   font-size: 14px;
   line-height: 20px;
   font-weight: 300;
   border-bottom-width: 0;
}

.navbar-collapse {
   padding-left: 20px;
   padding-right: 5px;
   //margin-left: 15px;
}

.navbar-brand {
  font-size: 14px;
}

.navbar-wrapper .navbar {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.social-button.twitter {
  background: 10px center no-repeat url('/img/twitter.png') #252525;
  padding-left: 40px;
}

.header-li {
  margin-left: 0px;
}

.header-a {
  margin-right: 0px;
  margin-left: -12px;
}