.top-navigator {
  background: #1C1C26;
  height: 54px; }
  .top-navigator .left-cont .druid-logo {
    display: inline-block;
    height: 54px;
    width: 120px;
    margin-bottom: -2px;
    background-position: center;
    background-image: url("/img/druid_nav.png");
    background-size: 105px 36px;
    background-repeat: no-repeat; }
  .top-navigator .right-cont {
    position: absolute;
    top: 0;
    right: 15px; }
    .top-navigator .right-cont ul {
      margin: 0; }
    .top-navigator .right-cont li {
      line-height: 54px;
      display: inline-block;
      font-size: 15px;
      margin: 0; }
      .top-navigator .right-cont li.active a {
        color: white; }
      .top-navigator .right-cont li.active:after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        right: 0; }
      .top-navigator .right-cont li a {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        color: #AAB4E1; }
        .top-navigator .right-cont li a:hover {
          text-decoration: none;
          color: white; }
      .top-navigator .right-cont li.button-link {
        margin-left: 8px; }
        .top-navigator .right-cont li.button-link a {
          display: inline-block;
          height: 32px;
          line-height: 32px;
          margin-top: 9px;
          background: #AAB4E1;
          border-radius: 2px;
          padding: 0 10px;
          color: #1C1C26;
          font-weight: 600;
          min-width: 106px;
          text-align: center; }
          .top-navigator .right-cont li.button-link a:hover {
            background: white; }
  .top-navigator .action-button {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    padding: 8px 16px;
    background: rgba(170, 180, 225, 0.3);
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    display: none;
    font-size: 14px;
    line-height: 18px; }
    .top-navigator .action-button .fa {
      margin-right: 6px; }
    .top-navigator .action-button:hover {
      background: rgba(170, 180, 225, 0.4); }

@media (max-width: 840px) {
  .top-navigator {
    height: auto;
    min-height: 54px; }
    .top-navigator .right-cont {
      position: relative;
      display: block;
      display: none;
      padding-bottom: 28px; }
      .top-navigator .right-cont ul {
        margin-left: 20px; }
      .top-navigator .right-cont li {
        display: block;
        line-height: 42px; }
    .top-navigator .action-button.menu-icon {
      display: block; } }
