.main-marketing {
  padding: 30px 0 30px 0;
}

.main-marketing a {
  color: #333;
}

.main-marketing h2 {
  margin-top: 20px;
  font-weight: 400;
}

.features .fa {
  position: absolute;
  margin-top: 16px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 40px;
  text-align: center;
  font-size: 1.7em;
  background: #3FCFD6;
  color: #FFF;
}

.features h3 {
  margin-top: 0;
  font-weight: 600;
  font-size: 21px;
  color: #195C8C;
  margin-bottom: 8px;
}

.features h3,
.features p {
  margin-left: 70px;
}

.features.learn .fa {
  background: #F9A956;
}

h3.more {
  font-weight: 600;
  font-size: 21px;
  color: #999;
  margin-top: 40px;
}

.top-news {
  display: none;
}

.bottom-news {
  display: block;
}

@media screen and (max-width: 991px) {
  .top-news {
    display: block;
  }

  .bottom-news {
    display: none;
  }

  .features.learn {
    margin-bottom: 40px;
  }
}
