@import "variables";

footer {
  line-height: 1.8em;

  a {
    &:hover {
      color: $link;
    }
  }

  .license {
    margin-top: 12px;
    font-size: 11px;
    color: #aaa;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer .license {
  margin-top: 12px;
  font-size: 11px;
  color: #aaa;

  a {
    &:hover {
      color: $link;
      text-decoration: underline;
    }
  }
}

.druid-footer {
  padding: 32px 0 48px 0;
  background-color: #f3f3f3;
  border-top: 1px solid white;
  margin-top: 50px;

  .fa, .fab, .fas {
    font-size: 18px;
    margin: 6px 0;
    color: $link;
  }
}
