@import "variables";

.druid-masthead {
  padding: 40px 20px 32px 20px;
  background-color: $medium;
  text-align: center;
  margin: 0 auto 20px;
  margin-bottom: 14px;
  color: white;
  overflow: hidden;

  background-image: url('/img/watermark-dark.png');
  background-size: 800px auto;
  background-repeat: no-repeat;
  background-position: 26% -76px;

  .button {
    display: inline-block;
    min-width: 155px;
    margin: 3px 0;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 2px;
    background: $link-light;
    color: $dark;
    transition: background-color 0.1s ease;

    .fa, .fab {
      font-size: 16px;
      margin-right: 3px;
    }

    &:hover,
    &:active {
      background: white;
      text-decoration: none;
    }

    &:first-child {
      margin-right: 12px;
    }
  }

  .lead {
    font-size: 1.6em;
    line-height: 1.7em;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 26px;
  }

  b {
    font-weight: 700;
  }
}

.bottom-news {
  display: block;
}

.disclaimer {
  margin-top: 12px;
  font-size: 11px;
  color: #aaa;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 500px) {
  .druid-masthead {
    .lead {
      font-size: 1.4em;
    }

    .button {
      min-width: 130px;
    }
  }
}
