@import "variables";

.item-list {
  margin-top: 6px;
  padding: 0 10px;

  h3 {
    font-size: 22px;
  }

  a {
    display: block;
    line-height: 1.5em;

    &:hover {
      text-decoration: none;

      span.title {
        text-decoration: underline;
      }
    }
  }

  .text-muted {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }

  .event {
    position: relative;
    padding-left: 42px;
    margin-bottom: 12px;
  }

  .mini-cal {
    position: absolute;
    top: 4px;
    left: 0;
    background: $link;
    padding: 2px;
    width: 32px;
    text-align: center;
    border-radius: 2px;
    padding-top: 16px;
  }

  .date-month {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1px;
    background: $link;
    border-radius: 2px;
    color: white;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .date-day {
    background: white;
    color: darken($link, 10);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .btn-default {
    border-color: $link;
    background: $link;
    color: white;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 8px;

    &:hover,
    &:active {
      background-color: $link;
      border-color: $link;
      color: #fff;
    }
  }
}
