$dark:              #1C1C26;
$medium:            #3b3b50;
$light-bkg:         #e7e7ec;
$light-text:        #999999;
$very-light-text:   #E1E1E8;
$link:              #4460de;
$link-light:        #9caeff;
$light-1:           #cbd5ff;
$light-2:           #a7f1d9;
$light-3:           #ffd8a8;

$header-height: 54px;
