$dark:              #1C1C26;
$medium:            #424250;
$light-bkg:         #EEEEEE;
$light-text:        #999999;
$very-light-text:   #E1E1E8;
$link:              #4860CC;
$link-light:        #AAB4E1;
$light-1:           #CBD2F2;
$light-2:           #BCE8DA;
$light-3:           #F5D6B8;