---
published: true
title: Interactive Analytics at Scale
layout: html_page
id: home
---

<link rel="stylesheet" href="/css/index.css">

<main class="druid-masthead">
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
    <span class="druid-bootlogo"></span>
    <p class="lead">a high-performance, column-oriented, distributed data store.</p>
    <p><a class="btn btn-lg" href="downloads.html"><span class="fa fa-download"></span> Download</a>
    <a class="btn btn-lg" href="https://github.com/druid-io/druid/"><span class="fa fa-github"></span> GitHub</a></p>
  </div>
  </div>
  </div>
</main>

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div class="top-news">
        {% include news-list.html %}
      </div>
      <div class="features">

        <span class="fa fa-rocket fa"></span><br>
        <h3>Sub-Second Queries</h3>
        <p>
          Druid supports fast aggregations and sub-second OLAP queries. Druid is designed for
          multi-tenancy and is ideal for powering user-facing analytic applications. 
        </p>

        <span class="fa fa-feed fa"></span><br>
        <h3>Real-time Streams</h3>
        <p>
          Druid supports streaming data ingestion and offers insights on events
          immediately after they occur. Retain events indefinitely and 
          unify real-time and historical views.
        </p>

        <span class="fa fa-database fa"></span><br>
        <h3>Scalable to Petabytes</h3>
        <p>
          Existing Druid clusters have scaled to petabytes of data and
          trillions of events, ingesting millions of events every second. Druid is
          extremely cost effective, even at scale. 
        </p>

        <span class="fa fa-gears fa"></span><br>
        <h3>Deploy Anywhere</h3>
        <p>
          Druid runs on commodity hardware. Deploy it in the cloud or
          on-premise. Integrate with existing data systems such as
          Hadoop, Spark, Kafka, Storm, Flink, and Samza.
        </p>

        <span class="fa fa-comments fa"></span><br>
        <h3>Vibrant Community</h3>
        <p>
          Druid is a community led project. <a href="/community">Join the fast growing community</a> and
          work with developers from across the world.
        </p>

      </div>

      <h3 class="more">Learn More:</h3>

      <div class="features learn">

        <span class="fa fa-smile-o fa"></span><br>
        <h3>Powered by Druid</h3>
        <p>
          <a href="/druid-powered.html">Learn more</a> about how many different organizations use Druid in production.
        </p>

        <span class="fa fa-flag-checkered fa"></span><br>
        <h3>Quickstart</h3>
        <p>
          Try the <a href="/docs/{{site.druid_version}}/tutorials/quickstart.html">quickstart</a> and get started in minutes. Load your own data and query it.
        </p>

        <span class="fa fa-book fa"></span><br>
        <h3>Introduction</h3>
        <p>
          <a href="/docs/{{site.druid_version}}/design/index.html">Learn more</a> about the high level architecture and concepts behind Druid.
        </p>

        <span class="fa fa-bar-chart fa"></span><br>
        <h3>Open Source UIs and Rich Client Libraries</h3>
        <p>
          Visualize data with <a href="https://github.com/implydata/pivot">Pivot</a> and <a
          href="https://github.com/airbnb/caravel">Caravel</a>.
          Query data in <a href="/libraries.html">many different languages</a>.
        </p>

      </div>
    </div>

    <div class="col-md-3">
      <div class="bottom-news">
        {% include news-list.html %}
      </div>
      {% include event-list.html %}
      {% include featured-list.html %}
    </div>

  </div>
</div>

