<link rel="stylesheet" href="/css/news-list.css">

<div class="item-list">
  <h3>
    Upcoming Events
  </h3>
  {% for event in site.data.events limit: 7 %}
  <div class="event">
    <div class="mini-cal">
      <div class="date-month">
        {{ event.date | date: "%b" }}
      </div>
      <div class="date-day">
        {{ event.date | date: "%e" }}
      </div>
    </div>
    <p>
      <a href="{{ event.link }}">
        <span class ="title">{{ event.name }}</span><br>
        <span class="text-muted">{{ event.info }}</span>
      </a>
    </p>
  </div>
  {% endfor %}
  <a class="btn btn-default btn-xs" href="https://www.meetup.com/druidio/">Join Our Meetup Group!</a>
</div>
