
<!-- Start page_header include -->
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Druid</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page.id == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if page.sectionid == 'druid' %} class="active"{% endif %}><a href="/druid.html">What is Druid?</a></li>
            <li {% if page.sectionid == 'downloads' %} class="active"{% endif %}><a href="/downloads.html">Downloads</a></li>
            <li {% if page.sectionid == 'docs' %} class="active"{% endif %}><a href="/docs/{{ site.druid_version }}/Home.html">Documentation</a></li>
            <li {% if page.sectionid == 'community' %} class="active"{% endif %}><a href="/community.html">Community</a></li>
            <li {% if page.sectionid == 'faq' %} class="active"{% endif %}><a href="/faq.html">FAQ</a></li>
            <li {% if page.sectionid == 'blog' %} class="active"{% endif %}><a href="/blog">Blog</a></li>
            <li><a href="https://twitter.com/druidio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @druidio</a></li>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <li><div class="fb-like" data-href="https://www.facebook.com/druidio" data-width="30" data-height="20" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div></li>
            <li class="divider"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Stop page_header include --->
