<!-- Start page_footer include -->
<footer class="druid-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <address>
          <strong>CONTACT US</strong>
          <a href="mailto:info@druid.io">info@druid.io</a><br/>
          <a href="https://groups.google.com/d/forum/druid-development">Google Group</a><br/>
          <a name="irc">#druid-dev on &laquo;irc.freenode.net&raquo;</a><br/>
        </address>
      </div>
      <ul class="col-md-4 list-unstyled">
        <li><a href="/"><strong>DRUID</strong></a></li>
        <li><a href="/druid.html">Overview</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
        <li><a href="/docs/{{ site.druid_version }}/">Documentation</a></li>
      </ul>
      <ul class="col-md-4 list-unstyled">
        <li><a href="/community.html"><strong>SUPPORT</strong></a></li>
        <li><a href="/community.html">Community</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/licensing.html">Licensing</a></li>
        <li><a href="/blog">Blog</strong></a></li>
      </ul>
    </div>
    <div class="text-center">
      <a href="https://twitter.com/druidio" class="fa fa-twitter"></a>
      <a href="https://github.com/metamx/druid" class="fa fa-github"></a>
      <a href="http://www.meetup.com/druidio/" class="fa fa-meetup"></a>
      <a href="http://druid.io/feed/" class="fa fa-rss" target="_blank"></a>
    </div>

  </div>
</footer>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-40280432-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
<!-- stop page_footer include -->
