---
title: Documentation
sectionid: docs
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include site_head.html %}

    <script>
      (function() {
        var cx = '004325268462231820898:e4htgtatbkg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
  </head>

  <body>
    {% include page_header.html %}

    <div class="druid-header">
      <div class="container">
        <h1>Documentation</h1>
        <h4></h4>
      </div>
    </div>

    <div class="container">
      {% assign parts = (page.url | split: '/') %}
      {% assign version = parts[2] %}

      {% if version != site.druid_version and version != 'latest' %}
      <p> Looking for the <a href="/docs/{{ site.druid_version }}/">latest documentation</a>?</p>
      {% endif %}

      <div class="row">
        <div class="col-md-9 doc-content">
          {{ content }}
        </div>
        <div class="col-md-3">
          <div class="searchbox" style="position:relative">
            <gcse:searchbox-only></gcse:searchbox-only>
          </div>
          <div class="nav toc hidden-print hidden-xs hidden-sm">
          </div>

        </div>
      </div>
    </div>

    {% include page_footer.html %}

    <script>$(function() { $(".toc").load("toc.html"); });</script>
  </body>
</html>
