---
layout: html_page
sectionid: blog
---

<link rel="stylesheet" href="/css/blogs.css">

<div class="container blog">
  <div class="row">
    <div class="col-md-9">
      <div class="blog-entry">
        <h2>{{ page.title }}
          {% if page.author %}
          <span class="author small text-uppercase">{{ page.author }}</span>
          {% endif %}
          <span class="small"> · {{ page.date | date: "%Y-%m-%d" }}</span>
        </h2>

        {% if page.image %}<img src="{{ page.image }}" alt="{{ page.title }}" class="text-img" />{% endif %}

        {{ content }}
      </div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'druidio';
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

    <div class="col-md-3">
      <div class="recents hidden-print hidden-xs hidden-sm">
        <h3>Recent posts</h3>
        <ul class="list-unstyled">
          {% for post in site.posts limit: 5 %}
          <li{% if page.title == post.title %} class="active"{% endif %}><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
